<!--
# Visualizer Tempaltes
-->
<script id="title" type="text/uduvudu-template">
    <h1><%-title.u%></h1>
</script>

<script id="mtitle" type="text/uduvudu-template">
    <h1><%-mtitle.title.u%></h1>
</script>

<script id="text" type="text/uduvudu-template">
    <p><%-text.u%></p>
</script>

<script id="neighboringMunicipality" type="text/uduvudu-template">
  <div style="width: 235px; float: left;">
      <p><b>Neighboring municipalities:</b></p>
      <p><ul><% _.each(neighboringMunicipality, function (municipality) { print('<li><a href="?res='+ municipality.title.m.r+'">'+municipality.title.u + "</a></li>"); }) %></ul></p>
  </div>
</script>

<script id="category" type="text/uduvudu-template">
  <div style="width: 235px; float: left;">
      <p><ul><% _.each(category, function (category) { print('<li><a href="?res='+ category.title.m.r+'">'+category.title.u + "</a></li>"); }) %></ul></p>
  </div>
</script>


<script id="abstract" type="text/uduvudu-template">
  <div style="width: 560px; padding: 4px; float: left;">
    <h2>Abstract</h2>
    <p><%-abstract.u%></p>
  </div>
</script>

<script id="quote" type="text/uduvudu-template">
  <div style="width: 560px; padding: 4px; float: left;">
    <p style="font-size:500%; font-family: Times New Roman; margin-bottom: -40px;">“</p>
    <p><%-quote.u%></p>
    <p style="font-size:500%; font-family: Times New Roman; margin-bottom: -40px; margin-top: -20px; text-align: right;">”</p>
  </div>
</script>

<script id="license" type="text/uduvudu-template">
    <p><small>&copy; <%-obj.u%></small></p>
</script>

<script id="name" type="text/uduvudu-template">
    <p><small><% print(_.toArray(name.l).join(', ')) %></small></p>
</script>

<script id="title_text" type="text/uduvudu-template">
    <%=template(title_text.title)%>
    <%=template(title_text.text)%>
</script>

<script id="wikiInfo" type="text/uduvudu-template">
  <div style="height: 235px;  width: 140px; float: left;">
    <img style="width: 30px; height: 30px; float: left;" src="http://upload.wikimedia.org/wikipedia/en/8/80/Wikipedia-logo-v2.svg">
    <p><big>&nbsp;Wikipedia</big></p>
    <p>
      ID: <a href="http://en.wikipedia.org/?curid=<%=wikiInfo.wikiPageID.u%>"><%=wikiInfo.wikiPageID.u%></a> <br>
      Revision: <%=wikiInfo.wikiPageRevisionID.u%>
    </p>
  </div>
</script>

<script id="community" type="text/uduvudu-template">
    <div style="max-height: 300px; width: 560px; background-color: lightgrey; padding: 4px; float: left; overflow-y: scroll;">
    <div style=" width: 235px; overflow: hidden; margin: -4px; text-align: right;" class="pull-right">
        <img style="max-height: 300px; max-width: 235px; margin-bottom: 10px; margin-left: 10px;" src="<%-community.img_url.u%>" />
    </div>
        <%=template(community.label_comment)%>
    </div>
</script>

<script id="label_comment" type="text/uduvudu-template">
    <%=template(label_comment.title)%>
    <%=template(label_comment.text)%>
</script>

<script id="community_stat" type="text/x-handlebars-template">
      <%=template(community_stat.website)%>
      <%=template(community_stat.elevation)%>
      <%=template(community_stat.area)%>
</script>

<script id="elevation" type="text/x-handlebars-template">
  <div style="float: left; min-width: 200px;">
      <p><i class="glyphicon glyphicon-stats"></i> Elevation: <%=elevation.u%> m</p>
  </div>
</script>

<script id="area" type="text/x-handlebars-template">
  <div style="float: left; min-width: 200px;">
      <p><i class="glyphicon glyphicon-stats"></i> Area: <%=num(area.u)%> km<sup>2</sup></p>
  </div>
</script>

<script id="website" type="text/x-handlebars-template">
  <div style="float: left; min-width: 200px;">
      <p><i class="glyphicon glyphicon-link"></i> <a href="<%=website.u%>"><%=website.u%></a></p>
  </div>
</script>

<script id="mhltemp" type="text/x-handlebars-template">
  <div style="float: left">
    <br>
    <h3>Temperatures per Month</h3>
    <canvas id="cvs_mhltemp" width="560px" height="200px"></canvas>
    <p>Temperatures in °C/month: <span style="color: rgba(120,120,220,1)">Average Low</span>, <span style="color: rgba(220,220,220,1)">Daily Mean</span>, <span style="color: rgba(220,120,120,1)">Average High</span></p>
  </div>
</script>

<script id="mhltemp_js" type="text/x-handlebars-template">
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js";
        script.onload = function(){
            var ctx = document.getElementById("cvs_mhltemp").getContext("2d");
            var data = {
              labels : ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
              datasets : [
                {
                  fillColor : "rgba(120,120,220,0.5)",
                  strokeColor : "rgba(220,220,220,1)",
                  data : [<%=num(tempC.lowC.jan.u)%>,<%=num(tempC.lowC.feb.u)%>,<%=num(tempC.lowC.mar.u)%>,<%=num(tempC.lowC.apr.u)%>,<%=num(tempC.lowC.may.u)%>,<%=num(tempC.lowC.jun.u)%>,<%=num(tempC.lowC.jul.u)%>,<%=num(tempC.lowC.aug.u)%>,<%=num(tempC.lowC.sep.u)%>,<%=num(tempC.lowC.oct.u)%>,<%=num(tempC.lowC.nov.u)%>,<%=num(tempC.lowC.dec.u)%>]
                },
                {
                  fillColor : "rgba(220,220,220,0.5)",
                  strokeColor : "rgba(220,220,220,1)",
                  data : [<%=num(tempC.meanC.jan.u)%>,<%=num(tempC.meanC.feb.u)%>,<%=num(tempC.meanC.mar.u)%>,<%=num(tempC.meanC.apr.u)%>,<%=num(tempC.meanC.may.u)%>,<%=num(tempC.meanC.jun.u)%>,<%=num(tempC.meanC.jul.u)%>,<%=num(tempC.meanC.aug.u)%>,<%=num(tempC.meanC.sep.u)%>,<%=num(tempC.meanC.oct.u)%>,<%=num(tempC.meanC.nov.u)%>,<%=num(tempC.meanC.dec.u)%>]
               },
               {
                  fillColor : "rgba(220,120,120,0.5)",
                  strokeColor : "rgba(220,220,220,1)",
                  data : [<%=num(tempC.highC.jan.u)%>,<%=num(tempC.highC.feb.u)%>,<%=num(tempC.highC.mar.u)%>,<%=num(tempC.highC.apr.u)%>,<%=num(tempC.highC.may.u)%>,<%=num(tempC.highC.jun.u)%>,<%=num(tempC.highC.jul.u)%>,<%=num(tempC.highC.aug.u)%>,<%=num(tempC.highC.sep.u)%>,<%=num(tempC.highC.oct.u)%>,<%=num(tempC.highC.nov.u)%>,<%=num(tempC.highC.dec.u)%>]
               }
              ]
            }
            new Chart(ctx).Bar(data);
        };
        document.body.appendChild(script);
</script>

<script id="humidity" type="text/x-handlebars-template">
  <div style="float: left">
    <br>
    <h3>Humidity per Month</h3>
    <canvas id="cvs_humidity" width="560px" height="200px"></canvas>
    <p>Humidity in %/month</p>
  </div>
</script>

<script id="humidity_js" type="text/x-handlebars-template">
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js";
        script.onload = function(){
            var ctx = document.getElementById("cvs_humidity").getContext("2d");
            var data = {
              labels : ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],
              datasets : [
                {
                  fillColor : "rgba(120,220,120,0.5)",
                  strokeColor : "rgba(220,220,220,1)",
                  data : [<%=humi.jan.u%>,<%=humi.feb.u%>,<%=humi.mar.u%>,<%=humi.apr.u%>,<%=humi.may.u%>,<%=humi.jun.u%>,<%=humi.jul.u%>,<%=humi.aug.u%>,<%=humi.sep.u%>,<%=humi.oct.u%>,<%=humi.nov.u%>,<%=humi.dec.u%>]
                }
              ]
            }
            new Chart(ctx).Bar(data, {scaleOverride: true,scaleSteps: 10, scaleStepWidth: 10, scaleBeginAtZero : true});
        };
        document.body.appendChild(script);
</script>

<script id="location" type="text/uduvudu-template">
    <div id="map-canvas" style="height: 250px; width: 560px; float: left;">
    </div> 
</script>

<script id="location_js" type="text/uduvudu-template">
    var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://www.openlayers.org/api/OpenLayers.js";
        alert("ciao");
        script.onload = function(){
            map = new OpenLayers.Map("map-canvas");
            map.addLayer(new OpenLayers.Layer.OSM());
 
            var lonLat = new OpenLayers.LonLat( <%-location.long.u%> ,<%-location.lat.u%> )
                .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );
 
            var zoom=14;
 
            var markers = new OpenLayers.Layer.Markers( "Markers" );
            map.addLayer(markers);

            markers.addMarker(new OpenLayers.Marker(lonLat));
 
            map.setCenter (lonLat, zoom);
    };
    document.body.appendChild(script);
</script>

<script id="created" type="text/uduvudu-template">
    <div style="height: 235px; width: 140px; float: left;">
        This resource was created on ≤%-created.u%>.
    </div> 
</script>

<script id="img" type="text/uduvudu-template">
  <div style="width: 140px; height: 235px; float: left">
    <img style="min-width: 140px; min-height: 235px;" src="<%-img_url.u%>" class="img-responsive" />
  </div>
</script>

<script id="eventLocation" type="text/uduvudu-template">
    <div id="map-canvas" style="height: 400px; width: 560px; float: right;">
    </div> 
</script>

<script id="eventLocation_js" type="text/uduvudu-template">
    var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "http://www.openlayers.org/api/OpenLayers.js";
        script.onload = function(){
            map = new OpenLayers.Map("map-canvas");
            map.addLayer(new OpenLayers.Layer.OSM());
            var lonLat = new OpenLayers.LonLat( <%-locationLink[0].eventLocation.long.u%> ,<%-locationLink[0].eventLocation.lat.u%> )
                .transform(
                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                map.getProjectionObject() // to Spherical Mercator Projection
            );
 
            var zoom=14;
 
            var markers = new OpenLayers.Layer.Markers( "Markers" );
            map.addLayer(markers);

            markers.addMarker(new OpenLayers.Marker(lonLat));
 
            map.setCenter (lonLat, zoom);
    };
    document.body.appendChild(script);
</script>

<script id="eventInfoBox" type="text/uduvudu-template">
    <div id="infobox" style="width: 560px; float: left;">
      <h4><%=eventInfoBox.description.u%></h4>
      <h5><%-eventInfoBox.category.u%></h5>
      <%=eventInfoBox.comment.u%>
      <br><br>
      <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%-eventInfoBox.organizerLink[0].eventOrganizer.title.u%><br>
      <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%-eventInfoBox.organizerLink[0].eventOrganizer.email.u%><br>
      <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <%-eventInfoBox.organizerLink[0].eventOrganizer.telephone.u%></p>
    </div>
</script>

<script id="POIInfoBox" type="text/uduvudu-template">
      <h2>Points of interest</h2>
      <br>
      <% 
      var iconMap = {
        'Ristorante' : '<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> ',
        'Affitta Camere' : '<span class="glyphicon glyphicon-home" aria-hidden="true"></span> ',
        'Bed & Breakfast' : '<span class="glyphicon glyphicon-home" aria-hidden="true"></span> ',
        'Hotel' : '<span class="glyphicon glyphicon-home" aria-hidden="true"></span> ',
        'Appartamento Vacanze' : '<span class="glyphicon glyphicon-home" aria-hidden="true"></span> ',
        'Agriturismo' : '<span class="glyphicon glyphicon-home" aria-hidden="true"></span> ',
        'Rifugio' : '<span class="glyphicon glyphicon-home" aria-hidden="true"></span> ',
        'Residence' : '<span class="glyphicon glyphicon-home" aria-hidden="true"></span> '

      };
      $("#poi2").html("")
      for (var i = 0; i < POILink.length; i++) {
        $("#poi2").append('<div class="singlePOI-' + i + '" style="width: 380px; height: 200px; float: left;"></div>');
        $(".singlePOI-" + i ).append('<h4>' + POILink[i].eventPOI.label.u + '</h4>')
        $(".singlePOI-" + i ).append('<p>' + iconMap[POILink[i].eventPOI.category.u] + '<b>' + POILink[i].eventPOI.category.u + '</b></p>')
        $(".singlePOI-" + i ).append('<p><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href="//' + POILink[i].eventPOI.homepage.u + '" target="_blank">' + POILink[i].eventPOI.homepage.u + '</a></p>')
        $(".singlePOI-" + i ).append('<p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> ' + POILink[i].eventPOI.mbox.u + '</p>')
        $(".singlePOI-" + i ).append('<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> ' + POILink[i].eventPOI.phone.u +'</p>')    
      }
      %>
</script>

<script id="carousel" type="text/uduvudu-template">
<% if(skosLink.length > 5) {
      print('<div id="carousel" style="width: 1140px; float: left;"><h2>Event images</h2><div class="col-md-12">');
      print('<div class="well"><div id="myCarousel" class="carousel slide"><div class="carousel-inner" id="inCarousel">');  
      print('<div class="item active"><div class="row">');
      for (var i = 0; i < 4; i++) {
          var fileurl;
          var lastPart = skosLink[i].eventSkos.m.r.split("/").pop();
          $.getJSON("https://it.wikipedia.org/w/api.php?action=query&prop=pageimages&titles="+lastPart+"&format=json&callback=?", function(data) {
              for (var a in data.query.pages) {
                  if (data.query.pages[a].pageimage != undefined) {
                      var filename = data.query.pages[a].pageimage;
                      $.getJSON("https://it.wikipedia.org/w/api.php?action=query&titles=File:"+filename+"&prop=imageinfo&iiprop=url&format=json&callback=?", function(data) {
                          fileurl = data.query.pages[-1].imageinfo[0].url;
$(".row").append('<div class="col-sm-3"><a href="'+fileurl+'" class="thumbnail" target="_blank"><img src="'+fileurl+'" alt="Image" class="img-responsive"></a></div>');
                      });
                  }
              }
          });
      }
      print('</div></div></div><!--/carousel-inner--></div><!--/myCarousel--></div><!--/well--></div></div>');    
} %>
</script>

<script id="pagingBox" type="text/uduvudu-template">
<div class="row-fluid">
    <div class="span6">
<%if (contractLink.m.name === "linkVatIDCig") {
    print('<h4>Bandi a cui il soggetto ha partecipato ('+contractLink.length+')</h4>');
} else if (contractLink.m.name === "linkVatIDWonCig") {
    print('<h4>Contratti aggiudicati al soggetto ('+contractLink.length+')</h4>');
}%>
        <div class="nav nav-tabs nav-stacked">
            <div class="list-group" id="pageStuff<%-contractLink.m.name%>">

<% for (var i = 0; i < contractLink.length; i++) {
       print('<a href="'+contractLink[i].contractInformation.label.m.r+'" class="list-group-item" target="_blank">');
       print('<p class="list-group-item-text">'+contractLink[i].contractInformation.label.u+'</p>');
       print('</a>');
   }
%>

            </div>
        </div>
    </div>
    <div class="span6" id="nums_outer">
        <nav>
            <% print('<ul class="pagination" id="'+contractLink.m.name+'"></ul>'); %>
        </nav> 
    </div> 
</div>
</script>

<script id="pagingBox_js" type="text/uduvudu-template">
appendAssegnati();

var listElement<%-contractLink.m.name%> = $('#pageStuff<%-contractLink.m.name%>');
var perPage = 10; //number of paragraphs per page
var numItems<%-contractLink.m.name%> = listElement<%-contractLink.m.name%>.children().size();
var numPages<%-contractLink.m.name%> = Math.ceil(numItems<%-contractLink.m.name%>/perPage);

$('#<%-contractLink.m.name%>').data("curr",0);

if (numItems<%-contractLink.m.name%> > perPage) {

var curr<%-contractLink.m.name%> = 0;
while(numPages<%-contractLink.m.name%> > curr<%-contractLink.m.name%>){ //create bottom index
    if (curr<%-contractLink.m.name%> === 0) {
        $('<li class="active"><a href="#listContracts" class="page_link">'+(curr<%-contractLink.m.name%>+1)+'</a></li>').appendTo('#<%-contractLink.m.name%>');
        curr<%-contractLink.m.name%>++;
    } else {
        $('<li><a href="#listContracts" class="page_link">'+(curr<%-contractLink.m.name%>+1)+'</a></li>').appendTo('#<%-contractLink.m.name%>');
        curr<%-contractLink.m.name%>++;
    }
}

$('#<%-contractLink.m.name%> .page_link:first').addClass('active');

listElement<%-contractLink.m.name%>.children().css('display', 'none');
listElement<%-contractLink.m.name%>.children().slice(0, perPage).css('display', 'block');

$('#<%-contractLink.m.name%> li a').click(function(e){
    $('#<%-contractLink.m.name%> .active').removeClass('active');
    var $this = $(this).parent();
    if (!$this.hasClass('active')) {
        $this.addClass('active');
    }

    var clickedPage<%-contractLink.m.name%> = $(this).html().valueOf() - 1;
    goTo<%-contractLink.m.name%>(clickedPage<%-contractLink.m.name%>,perPage);
});

function previous<%-contractLink.m.name%>(){
    var goToPage<%-contractLink.m.name%> = parseInt($('#<%-contractLink.m.name%>').data("curr")) - 1;
    if($('.active').prev('.page_link').length==true){
        goTo<%-contractLink.m.name%>(goToPage<%-contractLink.m.name%>);
    }
}

function next<%-contractLink.m.name%>(){
    goToPage<%-contractLink.m.name%> = parseInt($('#<%-contractLink.m.name%>').data("curr")) + 1;
    if($('.active_page').next('.page_link').length==true){
        goTo<%-contractLink.m.name%>(goToPage<%-contractLink.m.name%>);
    }
}

function goTo<%-contractLink.m.name%>(page){
    var startAt<%-contractLink.m.name%> = page * perPage,
        endOn<%-contractLink.m.name%> = startAt<%-contractLink.m.name%> + perPage;
  
    listElement<%-contractLink.m.name%>.children().css('display','none').slice(startAt<%-contractLink.m.name%>, endOn<%-contractLink.m.name%>).css('display','block');
    $('#<%-contractLink.m.name%>').attr("curr",page);
}

}
</script>

<script id="bars" type="text/uduvudu-template"><div></div></script>

<script id="bars_js" type="text/uduvudu-template">
<% 
if (awardedPaymentFromLink.m.name === "linkVatIDPA") {
    appendAssegnati();
    $('#titleLinkVatIDPA').html("<h4>Totale importi ricevuti [€]</h4> <p>Nel grafico seguente vengono riportate le stazioni appaltanti più rilevanti classificate secondo gli importi ricevuti dall'ente.</p><br>");
} else if (awardedPaymentFromLink.m.name === "linkVatIDPANum") {
    appendAssegnati();
    $('#titleLinkVatIDPANum').html("<h4>Numero gare vinte per stazione appaltante</h4> <p>Nel grafico seguente vengono riportate le stazioni appaltanti più rilevanti classificate secondo il numero di gare vinte dall'ente.</p><br>");
} else if (awardedPaymentFromLink.m.name === "linkVatIDBE") {
    appendPubblicati();
    $('#titleLinkVatIDBE').html("<h4>Totale importi assegnati per beneficiario [€]</h4><p>Nel grafico seguente vengono riportati i beneficiari più rilevanti classificati secondo gli importi assegnati dall'ente.</p><br>");
} else if (awardedPaymentFromLink.m.name === "linkVatIDBENum") {
    appendPubblicati();
    $('#titleLinkVatIDBENum').html("<h4>Numero gare vinte per beneficiario</h4><p>Nel grafico seguente vengono riportati i beneficiari più rilevanti classificati secondo il numero di contratti assegnati dall'ente.</p><br>");
}

var categories = [];
var dollars = [];
var uri = {};
uri[awardedPaymentFromLink.m.name] = {};
var zipped = [];
var maxVal = 0;
var minVal = 99999999;

var counter = awardedPaymentFromLink.length;

var yHigh = 30*counter;
var xHigh = 820;

for (var i = 0; i < counter; i++) {
    categories[i] = awardedPaymentFromLink[i].awardedPaymentBars.label.u;
    dollars[i] = Math.abs(awardedPaymentFromLink[i].awardedPaymentBars.awarded.u);
    uri[awardedPaymentFromLink.m.name][categories[i]] = awardedPaymentFromLink[i].awardedPaymentBars.label.m.r;
    if (maxVal < Math.abs(awardedPaymentFromLink[i].awardedPaymentBars.awarded.u)) {
        maxVal = Math.floor(awardedPaymentFromLink[i].awardedPaymentBars.awarded.u);
    }
    if (minVal > Math.abs(awardedPaymentFromLink[i].awardedPaymentBars.awarded.u)) {
        minVal = Math.floor(awardedPaymentFromLink[i].awardedPaymentBars.awarded.u);
    }
}

minVal = Math.floor(minVal/10);
if (minVal < 5) {
    minVal = 0;
}

/* start order */
for(i=0; i<dollars.length; ++i) {
    zipped.push({
        dollarselem: dollars[i],
        categorieselem: categories[i]
    });
}

zipped.sort(function(left, right) {
    var leftdollarselem = left.dollarselem,
        rightdollarselem = right.dollarselem;

    return leftdollarselem === rightdollarselem ? 0 : (leftdollarselem > rightdollarselem ? -1 : 1);
});

dollars = [];
categories = [];
for(i=0; i<zipped.length; ++i) {
    dollars.push(zipped[i].dollarselem);
    categories.push(zipped[i].categorieselem);
}
/* end order */

for (i=categories.length; i>0; i--) {
    categories[i] = categories[i-1];
}
categories[0] = ""; //trick for vertical align

var fullNames = [];
for (i=0; i<categories.length; i++) {
    fullNames[i] = categories[i];
    if (categories[i].length > 40) {
        var myTruncatedString = categories[i].substring(0,40);
        categories[i] = myTruncatedString+"...";
    }
}
/* end order */

var color = "#0283AF";

var grid = d3.range(17).map(function(i){ //17 vertical bars number
    return {'x1':0,'y1':0,'x2':0,'y2':yHigh};
});

/*var tickVals = grid.map(function(d,i){ //xAxis values
    if(i>0){ return i*Math.floor(maxVal/counter); } //floor to decina
    else if(i===0){ return "0";}
});*/


var xscale = d3.scale.linear()
    .domain([minVal,maxVal+maxVal*0.1])
    .range([0,xHigh]);

var yscale = d3.scale.linear()
    .domain([0,categories.length])
    .range([0,yHigh]);

var canvas = d3.select('#'+awardedPaymentFromLink.m.name) //here it appends the graph
    .append('svg')
    .attr({'width':1140,'height':yHigh+50});

/*var grids = canvas.append('g')
    .attr('id','grid')
    .attr('transform','translate(300,10)')
    .selectAll('line')
    .data(grid)
    .enter()
    .append('line')
    .attr({'x1':function(d,i){ return i*50; },
         'y1':function(d){ return d.y1; },
         'x2':function(d,i){ return i*50; },
         'y2':function(d){ return d.y2-10; },
    })
    .style({'stroke':'#adadad','shape-rendering':'crispEdges'}); //long vertical ticks (stroke-width:1px)*/

var xAxis = d3.svg.axis();
    xAxis
    .orient('bottom')
    .scale(xscale);
    //.tickValues(tickVals);

var yAxis = d3.svg.axis();
    yAxis
    .orient('left')
    .scale(yscale)
    .tickSize(2)
    .tickFormat(function(d,i){ return categories[i]; })
    .tickValues(d3.range(counter+1));

var y_xis = canvas.append('g')
        .attr("transform", "translate(300,0)")
        .attr('id','yaxis')
        .call(yAxis);

/*var x_xis = canvas.append('g')
        .attr("transform", "translate(300,"+yHigh+")")
        .attr('id','xaxis')
        .call(xAxis);*/

setTimeout(function(){
var chart = canvas.append('g') //drow chart
       .attr("transform", "translate(300,0)")
       .attr('id','bars'+awardedPaymentFromLink.m.name)
       .selectAll('rect')
       .data(dollars)
       .enter()
       .append('rect')
       .attr('height',10) //rect height
       .attr({'x':0,'y':function(d,i){ return yscale(i)+10+counter; }}) //rect y position
       .style('fill',function(d,i){ return color; })
       .attr('width',function(d){ return 0; });


var transit = d3.select("#"+awardedPaymentFromLink.m.name+" svg").selectAll("rect") //drow bars with effects
          .data(dollars)
          .transition()
          .duration(1000) 
          .attr("width", function(d) {return xscale(d); });
}, 2000);

setTimeout(function(){
var transitext = d3.selectAll('#bars'+awardedPaymentFromLink.m.name) //add text after bars
       .selectAll('text')
       .data(dollars)
       .enter()
       .append('text')
       .attr({'x':function(d) {return xscale(d)+10; },'y':function(d,i){ return yscale(i)+20+counter; }})
       .text(function(d){ return d; }).style({'fill':'#000','font-size':'14px'});
}, 3000);

d3.selectAll(".tick").on("mouseover", function(d, i) {
     d3.select(this).transition()
                                .duration(200)
                                .style("opacity", 0.4)
                                .style("cursor", "pointer");
});

d3.selectAll(".tick").on("mouseout", function(d, i) {
     d3.select(this).transition()
                                .duration(200)
                                .style("opacity", 1)
                                .style("cursor", "default");
});


d3.selectAll('#'+awardedPaymentFromLink.m.name+' .tick').on('click', function(d) { 
    window.open(uri[awardedPaymentFromLink.m.name][fullNames[d]], '_blank').focus();
});

//TODO hover values presents in fullNames when names are truncated
       
%>


</script>

<script id="simpleTable" type="text/uduvudu-template">
    <table class="table table-striped">
        <thead>
            <tr>
                <%
                if (total.m.name == "awardedTotal") {
                    appendAssegnati();
                    print('<th class="ui-helper-center">Totale degli importi aggiudicati</th>');
                } else if (total.m.name == "paidTotal") {
                    appendAssegnati();
                    print('<th class="ui-helper-center">Totale degli importi percepiti</th>');
                } else if (total.m.name == "awardsTotal") {
                    appendPubblicati();
                    print('<th class="ui-helper-center">Totale degli importi messi a bando</th>');
                } else if (total.m.name == "paysTotal") {
                    appendPubblicati();
                    print('<th class="ui-helper-center">Totale degli importi erogati</th>');
                }
                %>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="ui-helper-center"><%- total.u %> €</td>
            </tr>
        </tbody>
    </table>
    <br>
</script>

<script id="registryA" type="text/uduvudu-template">
<header>
    <div id="labels">
        <h1><a href="http://public-contracts.nexacenter.org/pc/businessEntities/<%- registryCombine.vatID.u %>"><%- registryCombine.label.u %></a></h1>
        <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>&nbsp;&nbsp;<a href="http://public-contracts.nexacenter.org/view/<%- registryCombine.vatID.u %>"><%- registryCombine.vatID.u %></a>
    </div>
</header>
</script>

<script id="registryA_js" type="text/uduvudu-template">
var result = doesFileExist("http://public-contracts.nexacenter.org/download/<%- registryCombine.vatID.u %>/stats.json");
if (result == true) {
    $("#labels").append('<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>&nbsp;&nbsp;<a href="http://public-contracts.nexacenter.org/download/<%- registryCombine.vatID.u %>/stats.json">statistiche</a>');
}
</script>

<script id="bubbles" type="text/uduvudu-template">
<%
    appendPubblicati();
    $("#titleProcedureType").append("<h4>Contratti pubblici suddivisi per anno</h4><p>Ogni cerchio rappresenta un singolo contratto pubblico messo a bando dall'ente. Le dimensioni dell'area di ciascun cerchio dipendono dall'ammontare del contratto.</p><br>"); 
    $("#view_selection").append('<button type="button" id="all" class="btn btn-default active" onclick="reloadBubble(\'all\')">Tutti</button>');
    $("#view_selection").append('<button type="button" id="year" class="btn btn-default" onclick="reloadBubble(\'year\')">Per anno</button>');
%>
</script>

<script id="bubbles_js" type="text/uduvudu-template">
    <%
    var bubbleArray = [];
    for (var i=0; i<procedureTypeLink.length; i++) {
        bubbleArray[i] = new Object;
        bubbleArray[i].grant_title = procedureTypeLink[i].procedureTypeBubble.label.u;
        bubbleArray[i].total_amount = procedureTypeLink[i].procedureTypeBubble.amount.u;
        bubbleArray[i].start_year = procedureTypeLink[i].procedureTypeBubble.time_year.u;
        bubbleArray[i].procedure_type = procedureTypeLink[i].procedureTypeBubble.procedure_type.u;
        bubbleArray[i].id = (i+1).toString();
    }
    custom_bubble_chart.init(bubbleArray);
    custom_bubble_chart.toggle_view('all');
    %>
</script>

<!-- container for literals -->
<script id="literals" type="text/uduvudu-template">
    <div style="clear: both;">
        <% _.each(literals, function(e) {print(template(e.literal))}); %>
    </div>
</script>

<!-- container for literals -->
<script id="unknowns" type="text/uduvudu-template">
    <div style="clear: both;">
        <% /*_.each(unknowns, function(e) {print(template(e.unknown))});*/ %>
    </div>
</script>

<!-- literal  -->
<script id="literal" type="text/uduvudu-template">
    <!--<div style=" width: 140px; height: 140px; float: left; overflow: hidden;"><p title="<%-literal.subject.u%> - <%-literal.predicate.u%>"><b><%-literal.name.u%></b>:<br /> <%-literal.text.u%></p></div>-->
</script>

<!-- void -->
<script id="void" type="text/uduvudu-template">
</script>

<!-- unknown -->
<script id="unknown" type="text/uduvudu-template">
  <div style=" width: 140px; height: 140px; float: left; overflow: hidden;">
      <small><p><%=unknown.subject.u%><br />&#9608;<br /><%=unknown.predicate.u%><br />&#9608;<br /><%=unknown.object.u%></p></small>
  </div>
</script>
